nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  z-index: 100;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background: #fff;
}

button.toggle {
  outline: none !important;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: fixed;
  top: 31px;
  left: 29px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul.navlist {
  padding: 25px;
  position: fixed;
  top: 100px;
  width: 230px;
}

.navlist li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-bottom {
  list-style: none;
  margin-bottom: 20px;
  position: absolute;
  top: 260px;
  left: 25px;
  cursor: pointer;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}