@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Knewave&family=Major+Mono+Display&family=Press+Start+2P&family=Rubik+Glitch&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Nova+Mono&family=Outfit:wght@100..900&family=Train+One&display=swap');


.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid black;
  position: absolute;
  left: 50%;
}

#main-nav > a {
  color: white;
  text-decoration: none;
}

#main-nav > a#developer:hover {
  font-family: 'Corrupted File', sans-serif;
  font-size: 38px;
  line-height: 38px;
}

#main-nav > a#mentor:hover {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
  font-size: 40px;
}

#main-nav > a#activist:hover {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#bookshelf-nav > a {
  color: white;
  text-decoration: none;
}

#bookshelf-nav > a#books:hover {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 8px 6px rgba(255, 255, 255, 0.4);
}

#bookshelf-nav > a#apps:hover {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.05em;
}

#bookshelf-nav > a#films:hover {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black !important;
}

#bookshelf-nav > a#articles:hover {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: black !important;
}

.button-shadow-white:hover {
  -webkit-box-shadow: 4px 4px 0px 0px white;
  -moz-box-shadow: 4px 4px 0px 0px white;
  box-shadow: 4px 4px 0px 0px white;
  outline: 2px solid black;
}

.button-shadow-black:hover {
  -webkit-box-shadow: 4px 4px 0px 0px black;
  -moz-box-shadow: 4px 4px 0px 0px black;
  box-shadow: 4px 4px 0px 0px black;
  outline: 2px solid white;
}

.project-btn {
  background: rgba(255, 255, 255, 0.65);
}

.toaster-shadow-white {
  -webkit-box-shadow: 4px 4px 0px 0px white !important;
  -moz-box-shadow: 4px 4px 0px 0px white !important;
  box-shadow: 4px 4px 0px 0px white !important;
  outline: 2px solid black !important;
}

.stack-grid > span {
  width: fit-content;
}

.claymorphism {
  backdrop-filter: blur(4px); 
  background-color: rgba(255, 255, 255, 1); 
  border-radius: 20px; 
  box-shadow: 0px 35px 68px 0px rgba(144, 19, 254, 0.5), inset 0px -5px 16px 0px rgba(144, 19, 254, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

/* FONTS */

.jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.major-mono-display {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 40px;
}

.rubik-glitch {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 38px;
}

.knewave {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.knewave-selected {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
  font-size: 40px;
}

.contrail-one {
  font-family: "Contrail One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Corrupted File';
  src: url('./assets/Corrupted_File.ttf');
}

.corrupted-file {
  font-family: 'Corrupted File', sans-serif;
  font-size: 38px;
  line-height: 38px;
}

.train-one {
  font-family: "Train One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nova-mono {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.nova-mono-selected {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  color: black !important;
}

.bangers {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.bangers-selected {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black !important;
}

.abril-fatface {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-shadow {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 8px 6px rgba(255, 255, 255, 0.4);
}

.outfit-extrabold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.media-img-container {
  position: relative;
}

.media-img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.media-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* MEDIA QUERIES */
@media (max-width: 767px) {
  .triangle {
    display: none !important;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .major-mono-display {
    font-size: 46px;
  }

  .rubik {
    font-size: 14px;
  }

  .rubik-glitch {
    font-size: 14px;
  }

  .press-start-2p {
    font-size: 12px;
    line-height: 16px;
  }

  .knewave {
    font-size: 14px;
  }

  .knewave#ask{
    font-size: 2.3rem;
  }

  .knewave-selected {
    font-size: 14px;
  }

  .corrupted-file {
    font-size: 12px;
    line-height: 12px;
  }

  #main-nav > a#developer:hover {
    font-family: 'Corrupted File', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  #main-nav > a#mentor:hover {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: black;
    font-size: 14px;
  }

  #main-nav > a#activist:hover {
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }

  .question-box {
    margin-bottom: 4px;
  }
}

@media (max-width: 430px) {
  .major-mono-display {
    text-align: right;
    padding-right: 1rem;
    padding-top: 0;
  }
}